@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
:root{
    --firstcolor:rgb(110,87,224);
    --secondcolor:rgb(0,201,255);
    --thirdcolor:rgb(192,166,49);

    --body-color:rgb(250,250,250);
    --color-white:rgb(255,255,255);

    --text-color-second:rgb(68,68,68);
    --text-color-third:rgb(30,159,171);
    
    --first-color-hover:rgb(40,91,212);
    --first-shadow-color:rgb(0,0,0,0.1);
}

*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: Poppins,sans-serif;

}

html{
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    width:10px;
    border-radius: 25px;
}
::-webkit-scrollbar-track{
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb{
    background: #ccc;
    border-radius: 30px;
}
::-webkit-scrollbar-thumb:hover{
    background: #bbb;
}

.btn{
    font-weight: 500;
    padding: 12px 20px;
    border:none;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s;
}

.btn>i{
    margin-left:10px;
}
.btn:hover{
    background: var(--secondcolor);
    color:var(--color-white);
}
i{
    font-size: 16px;
}

body{
    background: var(--body-color);
}
.container{
    width:100%;
    position:relative;
}

nav{
    position: fixed;
    display: flex;
    justify-content: space-between;
    width:100%;
    height: 90px;
    line-height:90px ;
    background: var(--body-color);
    padding-inline: 9vw;
    transition: .3s;
    z-index:100;
    
}
.nav-name{
    font-size: 30px;
    font-weight:700;
    color: var(--text-color-second);
}
.nav-logo-span{
    position: absolute;
    top: -15px;
    right:-20px;
    font-size: 5;
    color: var(--text-color-second);
}

.nav-menu, .nav-menu-list{
    display: flex;
}
.nav-menu, .nav_list{
    list-style:none;
    position: relative;
          
}
.nav-link{
    text-decoration: none;
    color: var(--text-color-second);
    font-weight: 500;
    padding-inline: 15px;
    margin-inline: 20px;
}

.nav-menu-btn{
    display: none;
}

.nav-menu-btn i{
    font-size: 28px;
    cursor:pointer;
}
.active-link{
    position: relative;
    color: var(--secondcolor);
    transition: .3;
}
.active-link::after{
    content: '';
    position: absolute;
    left: 50%;
    bottom: -15px;
    transform: translate(-50%, -50%);
    width: 5px;
    height: 5px;
    background: var(--secondcolor);
    border-radius: 50%;
}




.wrapper{
    padding-inline: 10vw;

}

.featured-box{
    position: relative;
    display: flex;
    height: 100vh;
    min-height: 700px;
}

.featured-text{
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    min-height: 80vh;
    flex-direction: column;
    width: 50%;
    padding-left: 20px;
}
.featured-text-card span{
    background-color: var(--secondcolor);
    color: var(--text-color-second);
    padding: 3px 8px;
    font-size: 12px;
    border-radius: 5px;
}
.featured-name{
    font-size: 30px;
    font-weight: 600;
    margin-block: 20px;
}
.featured-text-info{
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 25px;
    color: var(--thirdcolor);

}
.typedText{
    color: var(--first-color-hover);
    font-weight: bolder;
    text-transform:capitalize;
}
.featured-text-btn{
    display:flex;
    gap: 20px;
}
.featured-text-btn>.blue-btn{
    background-color: var(--firstcolor);
    color: var(--color-white);
    
}
.featured-text-btn>.blue-btn:hover{
    background-color: var(--secondcolor);
    
}
.socialicons{
    display: flex;
    margin-top: 3em;
    gap: 30px;
}
.icon{
    display: flex;
    justify-content: center;
    align-items:center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.25);
    cursor: pointer;

}
.icon:hover{
    color: var(--first-color-hover);
}

.featured-image{
    display: flex;
    justify-content: right;
    align-items: center;
    min-height: 80vh;
    width: 50%;
}
.image{
    margin: auto 0;
    width: 380px;
    height: 380px;
    overflow: hidden;
    animation: imgFloat 7s ease-in-out infinite;
}

.image img{
    width:380px;
    height:380px

}
@keyframes imgFloat {
    50%{
        transform: translateY(10px);
        
    }
}
.scroll-btn{
    position: absolute;
    bottom: 0;
    left: 50%;
    translate: -50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    gap: 5px;
    text-decoration: none;
    color: var(--text-color-second);
    background: var(--color-white);
    border-radius: 30px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
 }
 .scroll-btn i{
     font-size: 20px;
 }

 .section{
    padding-block: 5em;
}
.row{
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 50px;
}
.col{
    display: flex;
    width: 50%;
}

/* -- ## --- RESUABLE CSS -- ## -- */
.top-header{
    text-align: center;
    margin-bottom: 5em;
}
.top-header h1{
    font-size:40px ;
    font-weight: 600;
    color: var(--text-color-second);
    margin-bottom: 10px;
}
.top-header span{
    color: #999;
}
h3{
    font-size: 20px;
    font-weight: 600;
    color: var(--text-color-second);
    margin-bottom: 15px;
}

/* ----- ABOUT INFO ----- */
.about-info{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-block: 30px 70px;
    padding-inline: 20px;
    width: 100%;
    background: var(--color-white);
    box-shadow: 1px 8px 10px 2px var(--first-shadow-color);
    border-radius: 20px;
}
.about-info p{
    text-align: center;
    font-size: 15px;
    color: #777;
}
.about-btn button{
    position: absolute;
    right: 20px;
    bottom: 20px;
    background: var(--first-color);
    color: var(--color-white);
    border-radius: 30px;
}
.about-btn button:hover{
    background: var(--first-color-hover);
}
.btn.btn2{
    display: inline-block;
    text-decoration: none;
    background: var(--firstcolor);
    color: var(--body-color);
    
}
.btn.btn2:hover{
    background-color: var(--secondcolor);
}


/* ----- ABOUT / SKILLS BOX ----- */
.skills-box{
    margin: 10px;
}
.skills-header{
    margin-bottom: 30px;
}
.skills-list{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}
.skills-list span{
    font-size: 14px;
    background: var(--first-color-hover);
    color: var(--color-white);
    padding: 2px 10px;
    border-radius: 5px;
}

.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;


}


.services-list div{
    background: var(--body-color);
    box-shadow: 1px 8px 10px 2px var(--first-shadow-color);
    padding: 40px;
    font-size: 13px;
    font-weight: 500;
    border-radius:10px;
    transition: .4s;
    z-index: 2;
    

}
.services-list div h3{
    font-weight: bolder;
    font-size: 30px;
    margin-bottom: 15px;
}
.services-list div i{
    font-size: 50px;
    margin-bottom: 30px;
    font-weight: 500;
}


.services-list div:hover {
    bottom: 0;
    background: var(--secondcolor);
    z-index: 2;
    transform:translateY(-10px);
    

}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width:100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0%;
    background: linear-gradient(rgba(0,0,0,0.6),var(--secondcolor));
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: smaller;
    transition: height 0.5s;
}
.layer h2{
  font-size: 30px;
  font-weight:800 ;
  margin-bottom: 20px;   
}
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;
}



.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 30px;

}
.contact-left p i{
    color: var(--secondcolor);
    margin-right: 10px;
    font-size: 25px;
    
}
.new{
    display: flex;
    margin-top: 1em;
    gap: 30px;
}
.new a{
    display: flex;
    justify-content: center;
    align-items:center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0px 2px 5px 0px rgba(240, 152, 152, 0.25);
    cursor: pointer;
    transition: transform 0.5s;

}
.new a:hover{
    color: var(--secondcolor);
    transform: translateY(-5px);
}
.contact-right form{
    width:100%;

}
form input, form textarea{
    width: 100%;
    border: 0;
    outline:none;
    background-color: var(--first-shadow-color);
    padding: 15px;
    margin: 15px 0;
    color: var(--text-color-second);
    font-size: 18px;
    border-radius: 6px;


}
.sub-title{
    font-size:40px ;
}

.copyright{
    width: 100%;
    text-align: center;
    padding: 30px 0;
    background: var(--body-color);
    font-weight: 600;
    margin-top: 20px;

}
.copyright i{
    color: red;
}



    













@media only screen and (max-width: 1024px){
    .featured-text{
        padding: 0;
    }
    .image, .image img{
        width: 320px;
        height: 320px;
    }
}







@media only screen and (max-width: 900px){
    
    .nav_button{
        display:none;
    }
      
    
    .nav-menu.responsive{
        left: 0;
        
    }
    .nav-menu{
        position: fixed;
        top: 80px;
        left: -100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: rgba(255, 254, 254, 0.7);
        backdrop-filter: blur(20px);
        width:100%;
        min-height: 450px;
        height: 90vh;
        transition: .3s;
    }
    .nav-menu-list{
        flex-direction: column;
        

    }
    .nav-menu-btn{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .featured-box{
        flex-direction: column;
        justify-content: center;
        height: 100vh;

    }
    .featured-text{
        width: 100%;
        order: 2;
        justify-content: center;
        align-content: flex-start;
    }
    .social_icons{
        margin-top: 2em;
    }
    
    

    .featured-image{
        order: 1;
        justify-content: center;
        min-height: 150px;
        width: 100%;
        margin-top: 65px;
    }
    .image, .image img{
        width: 150px;
        height: 150px;
    }
    .row{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 50px;
    }
    .col{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }
    .about-info{
            
        width: 100%;
     }
    .services-list{
            justify-content: center;
            width:80%
     }
    
}
    
    


@media only screen and (max-width: 540px){
    .featured-name{
        font-size: 40px;
    }
    .services-list{
        width: 100%;
    }
    
}